body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
}

h1 {
    text-align: center;
    color: navy;
    font-size: 25px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: black;
}
input{
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: navy;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* button:hover {
    background-color: navy;
} */
